<template name="Vis">
    <div class="vis">
        {{#with data}}
            <div class="row">
                <div class="col-sm-12">
                    <h1>{{title}}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div id="vis-div"></div>
                </div>
            </div>
            <div class="row vis-text">
                <div class="col-sm-12">
                    <p class="text-left">
                        {{text}}
                    </p>
                </div>
            </div>
            <div class="row updated-at">
                <div class="col-sm-12">
                    <p>
                        <i class="fa fa-clock-o" aria-hidden="true">
                        </i>
                        Last updated at:
                        {{updatedAt}}
                    </p>
                </div>
            </div>
            <div class="row footer">
                <div class="col-sm-12">
                    <p>
                        {{footer}}
                    </p>
                </div>
            </div>
        {{/with}}
    </div>
</template>
